@import url(menu.css);
@import url(footer.css);

* {
  box-sizing: border-box;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

main{
  overflow: hidden;
}

ul,li {
  text-decoration: none;
  list-style: none;
}

#contenedor {
  background-image: url(../img/fondo-contacto.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 0 8rem 0;
  text-align: center;
  font-style: bold;
}

#titulo {
  display: flex;
  color: white;
  margin: 0rem 40% 0 2rem;
  padding: 6rem 3rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 900;
}

#contenedor-hijo {
  display: flex;
  flex-direction: row-reverse;
  padding: 3rem 0;
  background-color: rgba(190, 190, 190, 0.75);
  align-items: start;
  text-align: center;
  height: 80%;
}

#contenedor-nieto {
  padding: 2rem 1rem;
  font-size: 1rem;
  width: 50%;
  height: 100%;
}

#formulario-text {
  text-align: start;
  font-size: 1.2rem;
}

#formulario-text h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#formulario-text li {
  padding-bottom: .8rem;
}

#formulario-text ul {
  padding-bottom: 1rem;
}

#whatsapp {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  align-items: center;
  align-content: center;
  margin-bottom: 1rem;
}

#whatsapp i {
  font-size: 2rem;
  margin-bottom: .5rem;
}

#mapa iframe{
  max-width: 80%;
  border-radius: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, .5);
}

/* FORMULARIO */

#formularios {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  padding: 2rem 5%;
  text-align: center;
  border-radius: 0rem 2rem 2rem 0rem;
  width: 50%;
  height: 80%;
}

#formularios h2 {
  text-align: center;
  padding-bottom: 2rem;
}

#formularios input {
  padding: .5rem;
  margin: .3rem;
  width: 90%;
  border-radius: 1rem;
  border: 1px solid black;
}

.nombre,
.telefono,
.mail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center ;
  text-align: start;
  font-weight: bold;
}

.nombre label{
  min-width: max-content;
  display: inline;
}

#servicios {
  padding-top: 1rem;
  text-align: start;
  font-weight: bold;
}

#opciones {
  padding: 1rem 0;
  font-weight: normal;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 1rem 30% 1rem 30%;
  grid-template-rows: auto auto auto auto;
  align-items: center;
}

.checkbox {
  padding: .5rem 0;
}

#comentarios {
  margin: .5rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: start;
  font-weight: bold;
}

#comentarios textarea {
  width: 100%;
}

.enviar {
  text-align: center;
}

.enviar input {
  text-transform: uppercase;
}

.enviar input:hover {
  background-color: #000;
  color: white;
}


#terminos {
  display: flex;
  flex-direction: row;
  padding: .5rem 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#terminos input {
  width: 30px;
}

#errorNombre,
#errorTelefono,
#errorMail {
  font-weight: normal;
  text-align: end;
  color: red;
  font-size: .9rem;
  padding-bottom: .4rem;
}

#errorCheckbox,
#errorTerminos,
#errorGeneral {
  font-weight: normal;
  text-align: center;
  color: red;
  font-size: .9rem;
  padding-bottom: .4rem;
}

 /* MEDIA QUERY */

@media screen and (min-width:700px) and (max-width:900px) {

  #titulo {
    margin: 0rem 25% 0 1rem;
    padding: 4rem 2rem;
  }

  #opciones {
    grid-template-columns: 2rem 40% 2rem 40%;
    grid-template-rows: auto auto auto auto;
    
  }

  #contenedor-nieto {
    padding: 1rem 1rem 1rem .5rem;
  }

  #mapa iframe{
    max-width: 90%;
  } 
}

@media screen and (max-width: 700px) {
 
  #titulo {
    margin: auto;
    padding: 3rem 1rem;
    font-size: 1.5rem;
  }

  #contenedor-hijo {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  #contenedor-nieto {
    padding: 1rem .5rem;
    font-size: .7rem;
    width: 100%;
  }

  #mapa iframe {
    max-width: 95%;
    max-height: 10rem;
  }

  #formulario-text {
    font-size: 1rem;

  } 

  #formularios {
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
  }

}

/* EASTER EGG */

#myCircle {
  right: 45%;
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: red;
  animation: bounce 1s ease infinite;
}

#easterEgg {
  width: max-content;
}

#texto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
}

@keyframes bounce {
  0% {
    top: 40%;
  }
  50% {
    top: 60%;
  }
  100% {
    top: 40%;
  }
}
