@import url(menu.css);
@import url(footer.css);

:root {
  --clr-dark: #173058;
  --clr-dark-light: #244780;
  --clr-main: #00B7D4;
  --clr-light: #96DCF0 ;
  --clr-white: #fff;
}

main{
    text-align: center;
 }

 html{
  scroll-behavior: smooth;
}
 
/*  SECCION PRINCIPAL */

.contenedor-principal {
  padding: 3rem;
  background-image: url(../img/mujer-haciendo-flexiones.jpg);
  border-bottom: 5px solid black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.contenedor-principal h2 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: .5rem;
  border-radius: .4rem;
  text-transform: uppercase;
  font-weight: bold;
  width: max-content;
  max-width: 100%;
  margin: auto;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: var(--clr-white);
  text-shadow: 0px 6px 20px rgba(0, 0, 0, 1);
}

#primera-fila,
#tercera-fila {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

#segunda-fila {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.primera-fila,
.tercera-fila {
  background-color: var(--clr-main);
  color: var(--clr-dark);
}

.primera-fila:hover,
.tercera-fila:hover {
  background-color: var(--clr-light);
}

.segunda-fila {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.segunda-fila:hover {
  background-color: var(--clr-dark-light);
}

.servicios {
  padding: 3rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 50%;
  max-width: 30%;
  min-height: max-content;
  min-width: 18rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5)
}

.servicios h3 {
  padding-bottom: 1rem;
  text-transform: uppercase;
}

/*// SECCION NOSOTROS //*/
#nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5rem 2rem;
  background-color: var(--clr-white);
  column-gap: 1rem ;
}

.nosotros {
  justify-content: space-evenly;
  max-width: 30%;
  padding: 1.5rem;
  border-radius: 2rem;
}

#primera {
  font-weight: bold;
  padding: 1.5rem 0;
  text-align: start;
}

#primera p{
  text-transform: uppercase;
}

#primera h3 {
  padding: .8rem 0 1.5rem 0;
  font-size: 1.5rem;
}

#primera a {
  background-color: var(--clr-main);
  border-radius: .75rem;
  padding: .75rem 1rem;
}

#primera a:hover {
  background-color: var(--clr-dark);
  color: var(--clr-white);
}

#segunda {
  background-color:var(--clr-dark);
  color: var(--clr-light);
  margin-bottom: 6rem;
  text-align: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

#segunda:hover {
  background-color: var(--clr-dark-light);
}

#segunda h3{
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1rem 0 1.5rem 0;
  font-weight: bold;
}

#tercera {
  margin-top: 6rem;
  background-color:var(--clr-main);
  color: var(--clr-dark);
  text-align: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

#tercera:hover {
  background-color: var(--clr-light);
}

#tercera h3{
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1rem 0 1.5rem 0;
  font-weight: bold;
}

 /*  CONTACTO  */

 #contenedor-contacto {
    background-image: url(../img/mujer-tomando-agua.jpg);
    background-position: center;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contacto {
    font-size: 1.6rem;
    background-color:  rgba(220, 224, 228, 1);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    max-width: 90%;
  }
  
  #contenedor-contacto a {
    font-size: 1rem;
    font-weight: bold;
    margin-top: .75rem;
    padding: .5rem 1.3rem;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    border: none;
    border-radius: 1rem;
  }
  
  #contenedor-contacto a:hover {
    background-color: white;
    color: var(--clr-dark);
  }
  
  .fa-regular {
    transform: rotate(90deg);
    translate: 0 .3em;
    padding-right: .3rem;
  }

  @media screen and (max-width: 780px) {

/* SECCION PRINCIPAL */

  .contenedor-principal {
    padding: 1rem;
    background-image: url(../img/mujer-haciendo-flexiones.jpg);
    border-bottom: 5px solid black;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
  }

  #primera-fila,
  #segunda-fila,
  #tercera-fila {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #primero-pf,
  #primero-sf,
  #primero-tf {
    background-color: var(--clr-main);
    color: var(--clr-dark);
    padding: 1rem;
  }

  #primero-pf:hover,
  #primero-sf:hover,
  #primero-tf:hover {
    background-color: var(--clr-light);
  }

  #segundo-pf,
  #segundo-sf,
  #segundo-tf {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    padding: 1rem;
  }

  #segundo-pf:hover,
  #segundo-sf:hover,
  #segundo-tf:hover {
    background-color: var(--clr-dark-light);
  }

  .servicios {
    width: 100%;

    max-width: none;
    max-height: max-content;
    border-radius: 2rem;
    text-align: center;
    padding: 0.5rem;
    margin: .7rem 0;
  }

/* SECCION NOSOTROS */

  #nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem;
    background-color: var(--clr-white);
  }

  .nosotros {
    justify-content: center;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 2rem;
  }

  #primera,
  #segunda,
  #tercera {
    text-align: center;
    margin: 1rem 0;
  }

  #primera p {
    font-size: 1.5rem;
  }
}