@import url(menu.css);
@import url(footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
    /*scroll suavizado*/
    min-height: 100%;
    position: relative;
}

hr {
    border-color: black;
    margin-top: 5px;
    margin-bottom: 20px;
}

body {
    background-color: #a5adb4;
}

/*//////////// PANTALLA MUY PEQUEÑA (Hasta 400px)////////////////*/

main {
    margin: auto;
    max-width: 60rem;
    /*margin auto y max-width hacen que el main quede centrado 
    y con un maximo de 960 pixeles o 60rem*/
}

section[id] {
    scroll-margin-top: 40px;
    /*Margen superior de desplazamiento*/
}

/* ----------- INFORMACION DEL HOME  ------------ */

.home-info-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1.2rem;
    margin: 1rem 0;
    background-color: gainsboro;

    border: 1px solid gray;
    border-radius: 0 100px 0 50px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.home-info-text h2 {
    font-weight: 700;
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding-right: 1rem;
}

.home-info-text p {
    text-align: justify;
    margin-bottom: 1rem;
}

.home-info-ima img {
    width: 100%;
    border-radius: 0 100px 0 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/*------ SERVICIOS ---------*/

#services-container {
    padding: 1.2rem;
    padding-bottom: 8rem;
    background-color: grey;
    border-radius: 35px 0 0 0;
}

#services-container h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

#services-container summary {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.4rem;
    cursor: pointer;
}

#services-container summary:hover {
    color: white;
    background-color: rgb(78, 76, 76);
}

.detail-text {
    padding: 1rem;
    background-color: rgb(158, 157, 157);
    border-radius: 10px;
    border-radius: 0;
    text-align: center;
}

.detail-text button {
    border: none;
    background-color: rgb(36, 36, 247);
    /*text-decoration: none;*/
    font-size: 0.8rem;
    padding: .3rem .9rem;
    margin: 0.4rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.detail-text button a:visited {
    color: white;
    padding: .4rem 1rem;
}

.detail-text button a:link {
    color: yellow;
    padding: .4rem 1rem;
}

.detail-text button a:hover {
    color: yellow;
    font-size: 1rem;
    padding: .4rem .9rem;
}

.detail-text button:hover {
    background-color: red;
    color: black;
    /*padding: .6rem;*/
    box-shadow: 0px 4px 10px rgba(255, 254, 254, 0.5);
}

article img {
    width: 100%;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}

/*//////////// PANTALLA CHICA (de 400px a 700px) ////////////////*/

@media screen and (min-width: 400px){
    .home-info-container {
        padding: 2rem;
    }

    .home-info-text h2 {
        font-size: 1.5rem;
    }

    #services-container {
        padding: 2rem;
    }

    #services-container h2 {
        font-size: 1.8rem;
    }

    #services-container summary {
        font-size: 1.3rem;
    }

    .detail-text {
        padding: 2rem;
    }
}


/*//////////// PANTALLA MEDIANA (de 700px a 900px)/////////////////*/

@media screen and (min-width: 700px) {

    section[id] {
        scroll-margin-top: 85px;
        /*Margen superior de desplazamiento*/
    }

    .home-info-text h2 {
        font-size: 1.8rem;
    }

    .article-container {
        display: flex;
        border-radius: 25px;
        align-items: center;
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
        background-image: url(../img/bg-sport-math.jpg);
        background-size:cover;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }

    .detail-text {
        padding: 2rem;
        background-color: rgb(158, 157, 157);
        border-radius: 30px 0 0 30px;
        max-width: 50%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }

    article img {
        padding-top: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        border-radius: 0 15% 15% 0;
    }
}

/*//////////// PANTALLA GRANDE (a partir de 900px) /////////////////*/

@media screen and (min-width: 900px){

    main {
        max-width: 70rem;
    }

    .home-info-container {
        padding: 3rem;
    }

    .home-info-text h2 {
        font-size: 2rem;
    }

    #services-container {
        padding: 2rem;
    }

    #services-container h2 {
        font-size: 2rem;
    }

    #services-container summary {
        font-size: 1.5rem;
    }
}