* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-color: #3737c5;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    left: 0;

    height: 40px;
    z-index: 1000;       
}

header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
    padding-top: 0.6rem;
    background-color: #3737c5;
    margin: 0;
}

.logo{    
    overflow: hidden;
    padding: 0 4rem 0 1.5rem;
}

.home-title {
    /* En pantalla chica no se ve este titulo de la empresa*/
    display: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 2.4vw;
    font-weight: 300;
    color: rgb(185, 185, 185);
    background-color: rgb(55, 55, 197);
    max-width: 960px;
}

.home-title h2{
    color: black;
    margin: 0;
    padding: 0;
}

/* ------------- MENU DE NAVEGACION ------------ */

.nav-toggle {
    position: absolute;
    top: 5px;
    right: 5px;
    border: 0;
    cursor: pointer;
    display: block;
    z-index: 2000;    
}

.nav-toggle .fa-solid {
    color: white;
    background-color: rgb(55, 55, 197);
    font-size: 1.6rem;
}

.nav-menu {
    background-color: rgba(0, 0, 255, 0.5);
    text-align: center;
    border-radius: 10px;
    position: fixed;
    top: 40px;    
    right: -60%;    
    transition: right .3s;
    width: 60%;
    border-radius: 0 0 0.5rem 0.5rem; 
    z-index: 3000;   
    /* height: calc(100% - 40px); */
    /* overflow-y: auto;      */
}

.nav-menu_visible {
	/* top: 40px; */
    right: 0;
}


.nav-menu a {   
    font-family: 'Roboto', sans-serif;
    font-size: 12px;

    color: aliceblue;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: rgba(43, 43, 211, 0.5);
    transition: 0.5;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.nav-menu a:hover {
    font-size: 13px;
    color: white;
    background-color: rgba(22, 22, 117, 0.5);
    box-shadow: 0px 5px 10px rgba(253, 253, 255, 0.5);
}

.nav-menu-items {
    display: flex;
    flex-direction: column;
}

/*//////////// PANTALLA MEDIANA /////////////////*/

@media screen and (min-width: 700px){

    header {
        flex-wrap: wrap;
        height: 85px;        
    }

    header h1 {
        font-size: 22px;
        padding-bottom: 0;        
    }

    .logo{        
        padding: 0 8rem 0 1.5rem;  
    }

    .home-title {
        display: block;
    }

    .home-title h2 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-size: 2.4vw;
        font-weight: 300;
        color: rgb(185, 185, 185);
        background-color: rgb(55, 55, 197);
        max-width: 960px;
    }   

    .nav-menu {
        display: block;
        background-color: transparent;
        width: 55%;
        
        margin-top: 1rem;
        position: static;
    }

    .nav-toggle {
        display: none;
    }

    .nav-menu a {
        font-size: 12px;
        padding: 0.4rem;
        margin-right: 7px;
    }

    .nav-menu a:hover {
        font-size: 13px;
        color: white;
        background-color: rgba(71, 71, 231, 0.5);
        box-shadow: 0px 5px 10px rgba(253, 253, 255, 0.5);
    }

    .nav-menu-items {
        display: flex;
        flex-direction: row;
    }
}

/*////////////// PANTALLA GRANDE ////////////////*/

@media screen and (min-width: 900px) {

    header h1 {
        font-size: 30px;

    }

    .home-title h2 {
        font-size: 1.9vw;
    }

    .nav-menu a {
        font-size: 14px;
    }

    .nav-menu a:hover {
        font-size: 15px;       
    }
}